<div id="layout-menuIconPlaceholder" class="left"></div>

<div class="left layout-header-content">
  <a class="haigy-logo layout-header-openLeftNav" href="#">Haigy</a>
</div>

<div class="right layout-header-content">
<% if (!$.cookie("user_id")) { %>
  <div class="hidden-only-xs layout-header-form">
    <input id="login_email_input" class="form-textfield" type="text" placeholder="Email">
    <input id="login_password_input" class="form-textfield" type="password" placeholder="Password">
    <input id="login_submit_button" type="button" value="Log In">
    <small><em><a class="navbar-link" href="#/users/new">Sign Up</a></em></small>
  </div>
<% } %>
</div>