<div id="layout-menuIconPlaceholder" class="left"></div>

<div class="left layout-header-logo">
  <a class="haigy-logo layout-header-openLeftNav" href="#">Haigy</a>
</div>

<div class="right text-align-right hidden-sm-and-smaller layout-header-signin">
<% if (!$.cookie("user_id")) { %>
  <input id="layout-header-form-email" type="textfield" placeholder="Email">
  <input id="layout-header-form-password" type="password" placeholder="Password">
  <input id="layout-header-form-submit" class="button button-primary" type="button" value="Sign In">
  <small><em><a href="#/users/new">Sign Up</a></em></small>
<% } %>
</div>