<div id="layout-menuIconPlaceholder" class="left"></div>

<div class="left layout-header-content">
  <a class="haigy-logo layout-header-openLeftNav" href="#">Haigy</a>
</div>

<div class="right hidden-only-xs layout-header-content">
<% if (!$.cookie("user_id")) { %>
  <input id="layout-header-form-email" class="textfield" type="text" placeholder="Email">
  <input id="layout-header-form-password" class="textfield" type="password" placeholder="Password">
  <input id="layout-header-form-submit" class="button button-primary" type="button" value="Sign In">
  <small><em><a href="#/users/new">Sign Up</a></em></small>
<% } %>
</div>