<% if ($.cookie("user_id")) { %>
  <a class="haigy-logo left layout-header-openLeftNav" href="#">Haigy</a>
  
  <div class="right">
    <em>Welcome!</em> <em><a href="#/user/<%= $.cookie("user_id") %>"><%= $.cookie("user_nickname") %></a></em>
    <a id="log_out_button" href="#">log out</a>
    <img class="avatar-img layout-header-openRightNav" src="<%= $.cookie("user_avatar_url") %>">
  </div>
<% } else { %>
  <a class="haigy-logo left layout-header-openLeftNav" href="#">Haigy</a>
  
  <div class="right">
    <span class="icon-cool layout-header-openRightNav"></span>
  </div>
  
  <!-- <div class="collapse navbar-collapse" id="main-header-collapse-container">
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input id="login_email_input" class="form-control" type="text" placeholder="Email">
      </div>
      <div class="form-group">
        <input id="login_password_input" class="form-control" type="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input id="login_submit_button" class="form-control btn btn-default" type="button" value="Log In">
      </div>
      <small><em><a class="navbar-link" href="#/users/new">Sign Up</a></em></small>
    </form>
  </div> -->

<!--
    <% if ($.cookie("user_login_status")) { %>
      <div><em><%= $.cookie("user_login_status") %></em></div>
    <% } %>
-->

<% } %>