<div id="layout-menuIconPlaceholder" class="left"></div>

<div class="left layout-header-logo">
  <a class="haigy-logo layout-header-openLeftNav" href="#">Haigy</a>
</div>

<% if (!$.cookie("user_id")) { %>
<img class="right hidden-sm-and-smaller layout-header-signinup" src="<%= PrecompiledAsset.Picture.SignInUpLarge %>">
<img class="right hidden-md-and-larger layout-header-signinup" src="<%= PrecompiledAsset.Picture.SignInUpSmall %>">
<% } %>

<span class="right inline-block layout-header-space"></span>

<img class="right layout-header-browsing-history" src="<%= PrecompiledAsset.Picture.BrowsingHistory %>">
