<div id="layout-leftNav-content" class="container">
  <div class="col-xs-12 layout-leftNav-row">
    <a class="haigy-logo m-close-nav" href="#">Haigy</a>
  </div>
  
  <div class="col-xs-12 layout-leftNav-row">
    <div class="layout-leftNav-search-dynamic">
      <input id="layout-leftNav-search-input" type="textfield">
    </div>
    <div class="layout-leftNav-search-fix">
      <img id="layout-leftNav-search-button" src="<%= PrecompiledAsset.Picture.ButtonSearch %>">
    </div>
  </div>
  
  <div class="col-xs-12 layout-leftNav-row">
    <a class="m-close-nav" href="#/categories">All Categories</a>
  </div>

  <% _.each(categories, function(category) { %>
    <div class="col-xs-12 layout-leftNav-row">
      <a class="m-close-nav" href="#/articles/category/<%= category.get("id") %>"><%= category.get("name") %></a>
    </div>
  <% }); %>
</div>
