<div class="row">
  <div class="col-xs-12 layout-leftNav-row">
    <a class="haigy-logo" href="#">Haigy</a>
  </div>
  
  <div class="col-xs-12 layout-leftNav-row">
    <span class="col-xs-8" style="padding: 6px;">
      <input id="layout-leftNav-search-input" type="textfield">
    </span>
    <span class="col-xs-4" style="padding: 6px;">
      <input id="layout-leftNav-search-button" class="button" type="button" value="search">
    </span>
  </div>
  
  <div class="col-xs-12 layout-leftNav-row">
    <a class="layout-leftNav-closeNav" href="#">Home</a>
  </div>
  
  <div class="col-xs-12 layout-leftNav-row">
    <a class="layout-leftNav-closeNav" href="#/categories">All Categories</a>
  </div>

  <% _.each(categories, function(category) { %>
    <div class="col-xs-12 layout-leftNav-row">
      <a class="layout-leftNav-closeNav" href="#/articles/category/<%= category.get("id") %>"><%= category.get("name") %></a>
    </div>
  <% }); %>
</div>
