<div class="row">
  <div class="col-xs-10">
    <a href="#">Home</a>
  </div>
</div>

<div class="row">
  <hr class="col-xs-10">
</div>

<div class="row">
  <% _.each(categories, function(category) { %>
    <div class="col-xs-10">
      <a href="#"><%= category.get("name") %></a>
    </div>
  <% }); %>
</div>
