<div class="row">
  <div class="col-12 layout-leftNav-row">
    <a href="#">Home</a>
  </div>

  <% _.each(categories, function(category) { %>
    <div class="col-12 layout-leftNav-row">
      <a href="#"><%= category.get("name") %></a>
    </div>
  <% }); %>
</div>
