<div id='layout-menuIcon'>
  <div id="layout-menuIcon-canvas">
    <div id="layout-menuIcon-bar1"></div>
    <div id="layout-menuIcon-bar2"></div>
    <div id="layout-menuIcon-bar3"></div>
  </div>
</div>