<% var style = ""; %>
<% if (messageType === "Success") { %>
  <% style = "color: green;" %>
<% } else if (messageType === "warning") { %>
  <% style = "color: yellow;" %>
<% } else if (messageType === "error") { %>
  <% style = "color: red;" %>
<% } else { %>
  <% style = "color: grey;" %>
<% } %>

<p style = "<%= style %>"><%= messageContent %></p>
