<div id="layout-popup">
  <div id="layout-popup-background"></div>
  <div id="layout-popup-foreground">
    <div id="layout-popup-container">
      <div id="layout-popup-close">close</div>
      <div id="layout-popup-content"></div>
    </div>
  </div>
</div>