<div class="row layout-rightNav-loginForm">
  <div class="col-12">
    <input id="login_email_input" class="form-textfield" type="text" placeholder="Email">
  </div>
  <div class="col-12">
    <input id="login_password_input" class="form-textfield" type="password" placeholder="Password">
  </div>
  <div class="col-12">
    <input id="login_submit_button" type="button" value="Log In">
    <small><em><a class="navbar-link" href="#/users/new">Sign Up</a></em></small>
  </div>
</div>