<br><br><br><br>

<% if ($.cookie("user_id")) { %>
  <div id="layout-rightNav-user-menu" class="row">
    <div class="row">
      Welcome <%= $.cookie("user_nickname") %>!
    </div>
    <div class="row">
      <a href="#/user/<%= $.cookie("user_id") %>">My Account</a>
    </div>
    <div class="row">
      <a id="layout-rightNav-signOut" href="#">Sign Out</a>
    </div>
  </div>
<% } else { %>
  <div id="layout-rightNav-form">
    <div class="row">
      <input id="layout-rightNav-form-email" class="textfield" type="text" placeholder="Email">
    </div>
    <div class="row">
      <input id="layout-rightNav-form-password" class="textfield" type="password" placeholder="Password">
    </div>
    <div class="row">
      <input id="layout-rightNav-form-submit" class="button button-primary" type="button" value="Sign In">
    </div>
    <div class="row"></div>
    <div class="row text-align-center">
      <em><a class="layout-rightNav-closeNav" href="#/users/new">Or, join Haigy today!</a></em>
    </div>
  </div>
<% } %>
