<br><br><br><br>

<% if ($.cookie("user_id")) { %>
  <div id="layout-rightNav-welcome" class="row">
    <div class="col-12">
      Welcome <%= $.cookie("user_nickname") %>!
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a id="layout-rightNav-signOut" href="#">Sign Out</a>
    </div>
  </div>
<% } else { %>
  <div id="layout-rightNav-form" class="row">
    <div class="col-12">
      <input id="layout-rightNav-form-email" class="form-textfield" type="text" placeholder="Email">
    </div>
    <div class="col-12">
      <input id="layout-rightNav-form-password" class="form-textfield" type="password" placeholder="Password">
    </div>
    <div class="col-12">
      <input id="layout-rightNav-form-submit" type="button" value="Log In">
      <small><em><a class="layout-rightNav-closeNav" href="#/users/new">Sign Up</a></em></small>
    </div>
  </div>
<% } %>
