<div id="layout-rightNav-content" class="container">
  
<br><br><br><br>

<% if ($.cookie("user_id")) { %>
  <div id="layout-rightNav-user-menu" class="row">
    <div class="row">
      Welcome <%= $.cookie("user_nickname") %>!
    </div>
    <div class="row">
      <a class="m-close-nav" href="#/user/<%= $.cookie("user_id") %>">My Account</a>
    </div>
    <div class="row">
      <a class="m-close-nav" href="#/articles/user/<%= $.cookie("user_id") %>">All My Articles</a>
    </div>
    <div class="row">
      <a class="m-close-nav" href="#/articles/new">Write a new Article</a>
    </div>
    <div class="row">
      <a id="layout-rightNav-signOut" href="#">Sign Out</a>
    </div>
  </div>
<% } else { %>
  <div id="layout-rightNav-form">
    <div class="row">
      <input id="layout-rightNav-form-email" type="email" placeholder="Email">
    </div>
    <div class="row">
      <input id="layout-rightNav-form-password" type="password" placeholder="Password">
      <small class="block max-width text-align-center m-close-nav"><em><a href="#/users/retrieve/password">Forget Password?</a></em></small>
    </div>
    <div class="row">
      <input id="layout-rightNav-form-submit" class="button button-primary" type="button" value="Sign In">
    </div>
    <div class="row"></div>
    <h2 class="row text-align-center">
      <em><a class="m-close-nav" href="#/users/new">Or, join Haigy today!</a></em>
    </h2>
  </div>
<% } %>
</div>
