<div>
  Title: <input type="text" id="article_title" value="Title" /><br />
  Author: <input type="text" id="article_author" value="Author" /><br />
  Category: <input type="text" id="article_category" value="Category" /><br />
  Content: 
  <div id="article_content"></div>
  <input type="button" id="article_add_paragraph" value="add new paragraph" /><br /><br />
  <input type="button" id="article_submit" value="submit" />
</div>