<div class="Article_Paragraph_Editor">
  <input type="textarea" class="Paragraph" data-type="text" value="New Paragraph" />
  <button class="Move_Up_Button">Up</button>
  <button class="Move_Down_Button">Down</button>
</div>