<div id="article-index-cascade-option">
  <button id="article-index-cascade-shrinked-cover" data-cover-display-mode="shrinked">Shrinked Cover</button><br>
  <button id="article-index-cascade-normal-cover" data-cover-display-mode="normal">Normal Cover</button>
</div>
<div id="article-index-cascade-container"></div>