<div id="article-index-cascade-option">
  <button id="article-index-cascade-compact-mode" class="button-default" data-display-mode="compact">Fit to Screen Mode</button><br><br>
  <button id="article-index-cascade-normal-mode" class="button-default" data-display-mode="normal">Normal Mode</button><br><br>
</div>