@import "compass";


#article-cover-cascade {
  margin: 0;
  padding: 0;
  width: 100%;
}


#article-cover-cascade-option {
  padding: 10px 0 20px 0;
  
  .col-xs-6 {
    padding: 2px 6px;
  }
}


.article-cover {
  position: absolute;

  background-color: #FFFAFA;
  // background-color: #ebfffd;
  
  border: 1px solid transparent;
  @include border-radius(3px);
  @include box-shadow(1px 1px 1px 1px #b6b6b6);
}


.article-cover-img-link {
  text-decoration: none;
}

.article-cover-img-link,
.article-cover-img {
  margin: 0 auto;
  display: block;
}

.article-cover-img {
  @include border-radius(3px);
}
