@import "compass";

$FONT: normal normal 13px "Open Sans", sans-serif;
$COLOR: #5A5A5A;
$BORDER_RADIUS: 5px;

#article-cover-cascade {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}


#article-cover-cascade-option {
  padding: 5px 0 15px 0;
}


.article-cover-title {
  font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
  font-size: 18px;
  word-wrap: break-word; 
  padding: 15px 10px 10px 10px;

  & > a {
    @include link-colors(#3F2423, blue, blue, #3F2423);
  }
}


.article-cover-abstract { 
  font: $FONT;
  color: $COLOR;
  word-wrap: break-word;
  padding: 10px;
}

.article-cover-horizontal-line {
  border: 0;
  height: 1px; 
  @include background-image(linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0))); 
}

.article-cover {
  position: absolute;
  @include border-radius($BORDER_RADIUS);
  @include box-shadow(0px 2px 4px #888888);
  background-color: transparent;
}


.article-cover-content,
.article-cover-content-background {
  @include border-radius(0 0 $BORDER_RADIUS $BORDER_RADIUS);
}


.article-cover-content {
  position: relative;
  background-color: transparent;
}


.article-cover-content-background {
  z-index: -1000;
  
  background-color: #fff;
  @include opacity(0.75);
}


.article-cover-img-link,
.article-cover-img {
  display: block;
  width: 100%;
  @include border-radius($BORDER_RADIUS $BORDER_RADIUS 0 0);
}

.article-cover-img-link {
  text-decoration: none;
}


.article-cover-icon-row {
  padding: 0px 10px;
}

#article-cover-like-icon {
  max-width: 4%;
  /* margin: 0px, 2px; */
}


#article-cover-view-icon {
  max-width: 5%;
  /* margin: 0px, 2px; */
}

#article-cover-like-count,
#article-cover-view-count {
  font: $FONT;
  color: $COLOR;
}

#article-cover-like-count {
  margin-right:2px;
}

