<h3 id="article-show-recommend-header">You May Also Like</h3>

<% for (var index = 0; index < 4; ++index) { %>
  <% var item = itemData[index] %>
  <% if (item) { %>
<div class="col-xs-3 article-show-recommend-regular-item">
  <a class="article-show-recommend-regular-pic-link" href="#/article/<%= item.id %>">
    <div class="article-show-recommend-regular-pic" style="background: url('<%= item.picUrl %>') no-repeat center center; background-size: 100% auto;"></div>
  </a>
  <h5><a href="#/article/<%= item.id %>"><%= item.title %></a></h5>
</div>
  <% } %>
<% } %>
