<div>
  <h3>This is header!</h3>
  <div>
    Email: <input id="login_email_input" type="text" />
    Password: <input id="login_password_input" type="password" />
    <input id="login_submit_button" type="button" value="login" />
    <a href="#/users/new">sign up</a>
  </div>
  <hr />
</div>

<br /><br />