<div class="Paragraph" data-type="psicture">Did you see a picture?!</div>
<input type="file" value="upload a picture" />
<button class="Move_Up_Button">Up</button>
<button class="Move_Down_Button">Down</button>