<div class="Paragraph" data-type="picture"><%= content %></div>
<input name="file" type="file" />
<input type="button" class="Submit_Button" value="Upload" />
<button class="Move_Up_Button">Up</button>
<button class="Move_Down_Button">Down</button>