@import "compass";
@import "html/setting";


.captcha-hide {
  display: none;
}


.captcha-container {
  position: relative;
}


.captcha-row {
  width: 100%;
  padding: 6px;
}


.captcha-refresh-reminder {
  text-align: right;
}


.captcha-challenge {
  width: 100%;
  padding: 6px;
  color: #000;
  text-align: center;
  @include border-radius(4px);
}


.captcha-challenge-text {
  font-family: "Courier New", monospace;
  font-size: 6px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 3px;
}


.captcha-correct-answer {
  background: $SUCCESS_BOX_SHADOW_COLOR !important;
}


.captcha-incorrect-answer {
  background: $FAIL_BOX_SHADOW_COLOR !important;
}