/* Adopt from the Bootstrap */
/* xs: extra small devices (phones, screen width less than 480px) */
/* sm: small devices (screen width from 480px to 768px) */
$SM_MIN_WIDTH: 480px;
/* md: medium devices (tablets, screen width from 768px to 991px) */
$MD_MIN_WIDTH: 768px;
/* lg: large devices (desktops, screen width from 992px and 1119px) */
$LG_MIN_WIDTH: 992px;
/* xl: large devices (large desktops, screen width 1200px and up) */
$XL_MIN_WIDTH: 1200px;

$SM_MAX_WIDTH: $MD_MIN_WIDTH - 1px;


// Grid System
$GRID_COLUMN_COUNT: 12;


// container
$CONTAINER_LEFT_PADDING: 2%;
$CONTAINER_RIGHT_PADDING: 2%;


// font
$FONT_SIZE: 14px;
$LINE_HEIGHT: 1.3;


// color
$FOCUS_BORDER_COLOR: #66afe9;
$FOCUS_BOX_SHADOW_COLOR: rgba(102, 175, 233, 0.6);

$SUCCESS_BORDER_COLOR: #73e966;
$SUCCESS_BOX_SHADOW_COLOR: rgba(115, 233, 102, 0.6);

$FAIL_BORDER_COLOR: #e96666;
$FAIL_BOX_SHADOW_COLOR: rgba(233, 102, 102, 0.6);