@import "compass";
@import "html/setting";


input {
  width: 100%;
}


input[type="email"],
input[type="file"],
input[type="password"],
input[type="textfield"],
select,
textarea,
.form-input {  
  display: inline-block;
  vertical-align: middle;
  
  width: 100%;
  padding: 6px 12px;
  
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  @include border-radius(4px);
  
  &:focus {
    border-color: $FOCUS_BORDER_COLOR;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $FOCUS_BOX_SHADOW_COLOR);
  }
}


progress {
  width: 100%;
}


.input-valid {
  border-color: $SUCCESS_BORDER_COLOR !important;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $SUCCESS_BOX_SHADOW_COLOR);
}


.input-invalid {
  border-color: $FAIL_BORDER_COLOR !important;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $FAIL_BOX_SHADOW_COLOR);
}
