@import "compass";
@import "html/setting";
@import "utility";


* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


html {
  font-size: $FONT_SIZE;
  line-height: $LINE_HEIGHT;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $CONTAINER_LEFT_PADDING;
  padding-right: $CONTAINER_RIGHT_PADDING;
}


.row {
  width: 100%;
}


.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.container:after,
.row:after {
  clear: both;
}


.left {
  float: left;
}

.right {
  float: right;
}


.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.break-word {
  word-wrap: break-word;
}


.hide {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}


// .padding-small-left-right (has both left and right small padding)
.padding-s-lr {
  padding-left: 6px;
  padding-right: 6px;
}


@media (max-width: $SM_MAX_WIDTH) {
  .hidden-sm-and-smaller {
    display: none !important;
  }
}
@media (min-width: $MD_MIN_WIDTH) {
  .hidden-md-and-larger {
    display: none !important;
  }
}
