<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Retrieve for Haigy.com</h1>
    <br>
    <p>Hi <%= @user.nickname %>,</p>
    <br>
    <p>Thank you very much for being a member with <a href="http://haigy.com/" target="_blank">Haigy.com</a></p>
    <br>
    <p>We are so sorry that you forgot the password.</p>
    <p>Below is a temporary one (will expire in 10 minutes) to allow you to reset your password.</p>
    <br>
    <h3><em><%= @temporaryPassword %></em></h3>
    <br>
    <p>If this request is not from you, please simply ignore this email. Some one might mistype your email address.</p>
    <br>
    <p>Thank you again!</p>
    <p>Haigy Team</p>
  </body>
</html>