<tr class="article-show-comment-onepiece">
<td valign="top">
    <img class="comment-author-icon-img" src="<%= GlobalUtilities.PathToUrl(comment.get("user_avatar_url")) %>"  />
</td>
<td>
  <div class="reviewer-info">
      <strong><%= comment.get("user_nickname") %></strong><br />
  </div>
  <div class="comment-content">
      <p><%= comment.get("content") %></p>
  </div>
</td>
</tr>