<div class="row category-container">
<% _.each(allCategories, function(category) { %>
  <div class="left category-container-element">
    <div><a href="#/articles/category/<%= category.get("id") %>"><img src="<%= category.get("cover_picture") %>"></a></div>
    <div><strong><a href="#/articles/category/<%= category.get("id") %>"><%= category.get("name") %></a></strong></div>
  </div>
<% }); %>
</div>