.article-editor-options {
  padding: 5px 0;
  
  .row {
    padding: 5px 0 !important;
    
    span {
      padding: 0 5px;
    }
  }
}


.article-editor-option-switch,
.article-editor-remove {
  img {
    cursor: pointer;
  }
}
