<div id="article-cascade-option-container" class="row">
  <div class="col-6">
    <button id="article-cascade-compact-mode" class="button-default" data-display-mode="compact">Fit to Screen Mode</button>
  </div>
  <div class="col-6">
    <button id="article-cascade-normal-mode" class="button-default" data-display-mode="normal">Normal Mode</button>
  </div>
</div>