<div id="popup_container" class="popup_box"></div>

<div id="article_edit_area">
  Title: <input type="text" id="article_title" value="TITLE" /><br />
  Author: <input type="text" id="article_author" value="AUTHOR" /><br />
  Category: <input type="text" id="article_category" value="CATEGORY" /><br />
  Content: 
  <div id="article_content"></div>
  <div>
    <input type="button" id="article_add_text" value="add text" />
    <input type="button" id="article_add_picture" value="add picture" />
  </div>
  <br /><br />
  <button id="article_save">Save</button>
  <button id="article_save_and_preview">Save and Preview</button>
</div>