<div>
  Title: <input type="text" id="article_title" value="Title" /><br />
  Author: <input type="text" id="article_author" value="Author" /><br />
  Category: <input type="text" id="article_category" value="Category" /><br />
  Content: 
  <div id="article_content"></div>
  <div>
    <input type="button" id="article_add_text" value="add text" />
    <input type="button" id="article_add_picture" value="add picture" />
  </div>
  <br />
  <input type="button" id="article_submit" value="submit" />
</div>