<div>
  Title: <input type="text" id="article_title" value="Title" /><br />
  Author: <input type="text" id="article_author" value="Author" /><br />
  Category: <input type="text" id="article_category" value="Category" /><br />
  Content: <input type="textarea" id="article_content" value="Content" /><br />
  <input type="button" id="article_submit" value="SubMit" />
</div>