#article-edit-container {
  .one-central-column-container {
    max-width: 1000px;
    
    .central-column {
      max-width: 800px;
    }
  }
}


.article-edit-add-editor {
  width: 100%;
}

.article-edit-add-editor-head {
  width: 100%;
  text-align: center;
  font-size: small;
  font-style: italic;
  color: #a9afaf;
  margin: 5px 0;
}

.article-edit-add-editor-body {
  width: 100%;
  padding: 10px;
  display: none;
  text-align: center;
  
  
  img {
    width: 100px;
    height: 125px;
    display: inline-block;
    border: 1px dashed #cdd5d5;
  }
  
  
  img + img {
    margin-left: 10px;
  }
}


.article-editor-move-up-button {
  max-width: 20px;
  
  color: #000;
  background-color: #1dff18;
  border-color: #13a810;
  
  &:hover {
    background-color: #17c412;
    border-color: #0e760b;
  }
}


.article-editor-move-down-button {
  max-width: 20px;
  
  color: #000;
  background-color: #fffc09;
  border-color: #dcd908;
  
  &:hover {
    background-color: #ece908;
    border-color: #bbb807;
  }
}


.article-editor-remove-button {
  max-width: 20px;
  
  color: #000;
  background-color: #ff0000;
  border-color: #c20000;
  
  &:hover {
    background-color: #e00000;
    border-color: #a50000;
  }
}