#article-index-cascade-container {
  position: relative;
  
  margin-left: auto;
  margin-right: auto;
}


.article-index-cover {
  position: absolute;
  width: 200px;
  
  margin: 0;
  padding: 16px;
  
  background-color: #ebfffd;
}

.article-index-cover-img .article-index-cover-img-link {
  margin: 0;
  padding: 0;
  display: block;
}

a.article-index-cover-img-link {
  text-decoration: none;
}