<div id="article-show-gallery-main">
  <div id="article-show-gallery-prev"></div>
  <div id="article-show-gallery-img">
    <div class="article-show-gallery-img-wrapper">
      <img src="<%= imageSrc %>">
    </div>
  </div>
  <div id="article-show-gallery-next"></div>
</div>
<div id="article-show-gallery-img-origin"></div>
<div id="article-show-gallery-close"></div>