<div id="article-show-gallery-main">
  <div id="article-show-gallery-prev"></div>
  <div id="article-show-gallery-content">
    <div class="article-show-gallery-content-outer-wrapper">
      <div class="article-show-gallery-content-inner-wrapper">
        <%= paragraph %>
      </div>
    </div>
  </div>
  <div id="article-show-gallery-next"></div>
</div>
<div id="article-show-gallery-details"></div>
<div id="article-show-gallery-close"></div>