<div id="article-show-gallery-prev"></div>
<div id="article-show-gallery-img-container">
  <div id="article-show-gallery-img"></div>
  <div id="article-show-gallery-img-origin"></div>
  <div id="article-show-gallery-close"></div>
</div>
<div id="article-show-gallery-next"></div>
