<div id="article-show-gallery-main">
  <div id="article-show-gallery-prev">
    <img id="article-show-gallery-prev-arrow" src="<%= PrecompiledAsset.Picture.GalleryPrev %>">
  </div>
  <div id="article-show-gallery-content">
    <div class="article-show-gallery-content-wrapper"></div>
  </div>
  <div id="article-show-gallery-next">
    <img id="article-show-gallery-next-arrow" src="<%= PrecompiledAsset.Picture.GalleryNext %>">
  </div>
</div>
<div id="article-show-gallery-options-left"></div>
<div id="article-show-gallery-options-right">
  <button id="article-show-gallery-close">Back</button>
</div>