$LAYOUT_HEADER_HEIGHT: 50px;

$LAYOUT_MENU_ICON_HEIGHT: 35px;
$LAYOUT_MENU_ICON_WIDTH: 40px;

$LAYOUT_USER_AVATAR_HEIGHT: $LAYOUT_HEADER_HEIGHT - 1;
$LAYOUT_USER_AVATAR_WIDTH: $LAYOUT_USER_AVATAR_HEIGHT;

$LAYOUT_HEADER_Z_INDEX: 1000;
$LAYOUT_LEFT_NAV_Z_INDEX: 2000;
$LAYOUT_RIGHT_NAV_Z_INDEX: $LAYOUT_LEFT_NAV_Z_INDEX;
$LAYOUT_MENU_ICON_Z_INDEX: 3000;
$LAYOUT_USER_AVATAR_Z_INDEX: $LAYOUT_MENU_ICON_Z_INDEX;