#layout-canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-color: #fff;
  
  overflow-y: scroll;
  
  transition: transform 400ms ease;
}


#layout-header {
  -webkit-transform: translatez(1030);
  -moz-transform: translatez(1030);
  -ms-transform: translatez(1030);
  -o-transform: translatez(1030);
  transform: translatez(1030);
}
