@import "compass";
@import "layout/setting";


#layout-header {
  position: fixed;
  top: 0;
  height: $LAYOUT_HEADER_HEIGHT;
  left: 0;
  width: 100%;
  
  z-index: $LAYOUT_HEADER_Z_INDEX;
    
  background-color: #f8f8f8;
  @include background-image(linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%));
  
  border-bottom: 1px solid #e7e7e7;
  @include box-shadow(inset 1px 0 0 rgba(255, 255, 255, 0.15), 1px 0 5px rgba(0, 0, 0, 0.075));
    
  @include transform(translateZ(0));
}


#layout-menuIconPlaceholder {
  width: $LAYOUT_MENU_ICON_WIDTH;
  height: $LAYOUT_HEADER_HEIGHT;
  margin-right: 20px;
}


.layout-header-content {
  line-height: $LAYOUT_HEADER_HEIGHT;
}


.layout-header-form {
  .form-textfield {
    max-width: 200px;
    margin-right: 4px;
  }
}
