@import "compass";


#layout-leftNav {
  position: fixed;
  top: 0;
  height: 100%;
  
  background-color: #f8f8f8;
  @include background-image(linear-gradient(to right, #ffffff 0%, #f8f8f8 100%));
  
  border-right: 1px solid #e7e7e7;
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.15), 1px 0 5px rgba(0, 0, 0, 0.075);
  
  z-index: 2000;
  
  overflow: auto;
  
  @include transition(transform 500ms ease);
  
  @include transform(translateZ(0));
}


.row {
  padding: 0 20px;
}


.layout-leftNav-row {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}
