@import "compass";
@import "layout/setting";


body {
  padding-top: $LAYOUT_HEADER_HEIGHT;
}


html, body, #layout-main, #layout-mainBody, #layout-content {
  width: 100%;
  height: 100%;
  z-index: $LAYOUT_NORMAL_Z_INDEX;
}


#layout-mainBody-clickListener {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  min-width: $SUPPORT_VIEWPORT_MIN_WIDTH;   // the width of a "position: fixed" element is relative to the viewport, not it's parent element
  background-color: transparent;
  z-index: $LAYOUT_HIDDEN_Z_INDEX;
}