@import "compass";
@import "layout/setting";


body {
  padding-top: $LAYOUT_HEADER_HEIGHT;
}


#layout-mainBody {
  width: 100%;
  height: 100%;
}


#layout-content {
  padding-top: 8px;
  @include transform(translateZ(0));
}
