@import "compass";
@import "html/setting";
@import "layout/setting";


#layout-menuIcon {
  position: fixed;
  top: 0;
  height: $LAYOUT_HEADER_HEIGHT;
  left: $CONTAINER_LEFT_PADDING;
  width: $LAYOUT_MENU_ICON_WIDTH;
  z-index: $LAYOUT_MENU_ICON_Z_INDEX;
  
  padding: (($LAYOUT_HEADER_HEIGHT - $LAYOUT_MENU_ICON_HEIGHT) / 2) 0;
  
  background-color: transparent;
}


#layout-menuIcon-canvas {
  height: $LAYOUT_MENU_ICON_HEIGHT;
  width: $LAYOUT_MENU_ICON_WIDTH;
  padding: 8px 10px;
  
  @include border-radius(4px);
  
  background-color: #dfdfdf;
  @include background-image(linear-gradient(to bottom, #f2f2f2 0%, #dfdfdf 100%));
  
  &:hover, &:active {
    background-color: #f2f2f2;
    @include background-image(linear-gradient(to top, #f2f2f2 0%, #dfdfdf 100%));
  }
}


#layout-menuIcon-bar1 {
  height: 4px;
  width: 20px;
  background-color: #888686;
}

#layout-menuIcon-bar2 {
  height: 3px;
  width: 20px;
  background-color: #888686;
  margin-top: 4px;
}

#layout-menuIcon-bar3 {
  height: 4px;
  width: 20px;
  background-color: #888686;
  margin-top: 4px;
}
