@import "compass";
@import "layout/setting";


#layout-rightNav {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: $LAYOUT_RIGHT_NAV_Z_INDEX;
  overflow: auto;
  
  background-color: #f8f8f8;
  @include background-image(linear-gradient(to left, #ffffff 0%, #f8f8f8 100%));
  
  border-left: 1px solid #e7e7e7;
  @include box-shadow(inset -1px 0 0 rgba(255, 255, 255, 0.15), -1px 0 5px rgba(0, 0, 0, 0.075));
    
  @include transform(translateZ(0));
}


#layout-rightNav-welcome,
#layout-rightNav-form {
  border-bottom: 1px solid #e7e7e7;
  
  .col-12 {
    padding: 0 0 10px 0;
  }
}
