<div class="article-edit-add-editor-body">
  <img class="article-edit-add-text" src="<%= PrecompiledAsset.Picture.ArticleEditAddText %>" alt="add text">
  <img class="article-edit-add-picture" src="<%= PrecompiledAsset.Picture.ArticleEditAddPicture %>" alt="add picture">
</div>
