<div class="row">
  <div class="col-xs-3"><pre style="background-color:#000;" data-color="#000000"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#fff;" data-color="#ffffff"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#ff0000;" data-color="#ff0000"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#0000ff;" data-color="#0000ff"></pre></div>
</div>
