<div class="row">
  <div class="col-xs-3"><pre style="background-color:#000;" data-color="#000000"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#fff;" data-color="#ffffff"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#ff0000;" data-color="#ff0000"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#0000ff;" data-color="#0000ff"></pre></div>
</div>
<div class="row">
  <div class="col-xs-3"><pre style="background-color:#00ff00;" data-color="#00ff00"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#ffff00;" data-color="#ffff00"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#00ffff;" data-color="#00ffff"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#ff00ff;" data-color="#ff00ff"></pre></div>
</div>
<div class="row">
  <div class="col-xs-4"><input type="textfield" value="ffffff" title="#000 ~ #fff or #000000 ~ #ffffff"></div>
  <div class="col-xs-8"><button>choose customized</button></div>
</div>
