<div class="row">
  <div class="col-xs-3"><pre style="background-color:#000;" data-color="#000"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#fff;" data-color="#fff"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#f00;" data-color="#f00"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#00f;" data-color="#00f"></pre></div>
</div>
<div class="row">
  <div class="col-xs-3"><pre style="background-color:#0f0;" data-color="#0f0"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#ff0;" data-color="#ff0"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#0ff;" data-color="#0ff"></pre></div>
  <div class="col-xs-3"><pre style="background-color:#f0f;" data-color="#f0f"></pre></div>
</div>
<div class="row">
  <div class="col-xs-4"><input type="textfield" value="FFFFFF" title="#000 ~ #FFF or #000000 ~ #FFFFFF"></div>
  <div class="col-xs-8"><button>choose customized</button></div>
</div>
