<div class="text-align-right" style="padding-bottom: 10px;">
  <span class="article-editor-option-switch">Options</span>
  <button class="article-editor-remove-button">Remove</button>
</div>
<div class="max-width hide article-editor-options">
  <div class="row">
    <span class="col-xs-6"><button class="article-editor-move-up-button">Move Up</button></span>
    <span class="col-xs-6"><button class="article-editor-move-down-button">Move Down</button></span>
  </div>
  
  <% if (additionalOptions) { %>
    <%= additionalOptions %>
  <% } %>
</div>