<div class="text-align-right" style="padding-bottom: 10px;">
  <span class="inline-block article-editor-option-switch" style="min-width: 60px"> <img src="<%= PrecompiledAsset.Picture.ButtonSetting %>" title="options"> </span>
  <span class="inline-block article-editor-remove" style="min-width: 60px"> <img src="<%= PrecompiledAsset.Picture.ButtonClose %>" title="close"> </span>
</div>
<div class="max-width hide article-editor-options">
  <div class="row">
    <span class="col-xs-6"><button class="article-editor-move-up">Move Up</button></span>
    <span class="col-xs-6"><button class="article-editor-move-down">Move Down</button></span>
  </div>
  
  <% if (additionalOptions) { %>
    <%= additionalOptions %>
  <% } %>
</div>