<div class="Paragraph" data-type="picture">
  <% if (content) { %>
    <img src="<%= content.url %>" data-picture-id="<%= content.id %>">
  <% } %>
</div>
<input class="Upload_Picture" name="file" type="file" multiple>