<div class="text-align-right">
  <button class="article-editor-move-up-button">Up</button>
  <button class="article-editor-move-down-button">Down</button>
  <button class="article-editor-remove-button">Remove</button>
</div>
<pre class="Paragraph form-input break-word" data-type="text" contenteditable="true"><%= content %></pre>
<div class="row">
  <span class="col-xs-6"><button class="m-clear-format">Clear Format</button></span>
  <span class="col-xs-3"><button class="m-bold">Bold</button></span>
  <span class="col-xs-3"><button class="m-italic">Italic</button></span>
</div>
<div class="row">
  <span class="col-xs-3"><button class="m-large-font">Large Font</button></span>
  <span class="col-xs-3"><button class="m-small-font">Small Font</button></span>
  <span class="col-xs-3"><button class="m-font-color">Font Color</button></span>
  <span class="col-xs-3"><button class="m-background-color">Background</button></span>
</div>
<div class="row article-editor-color-picker hide"></div>
