<div class="text-align-right">
  <span class="Move_Up_Button">Up</span>
  <span class="Move_Down_Button">Down</span>
  <span class="Remove_Button">Remove</span>
</div>
<pre class="Paragraph" data-type="text" contenteditable="true"><%= content %></pre>