<div class="text-align-right">
  <button class="article-editor-move-up-button">Up</button>
  <button class="article-editor-move-down-button">Down</button>
  <button class="article-editor-remove-button">Remove</button>
</div>
<pre class="Paragraph form-input break-word" data-type="text" contenteditable="true"><%= content %></pre>
<div>
  <strong class="article-editor-text-bold">B</strong>
</div>
