@import "compass";


#article-show-preview {
  width: 100%;
  max-width: 700px;
  
  font-size: 16px;
  line-height: 200%;
  
  margin: 0 auto;
}


#article-show {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
}


#article-show-content {
  width: 100%;
  max-width: 600px;
  
  font-size: 16px;
  line-height: 200%;
  
  margin: 0 auto;
  padding: 10px 0;

  background-color: #fff;
}


.article-show-title {
  text-align: center;
  font-family: georgia, palatino, 'book antiqua', 'palatino linotype', serif;
}


.article-show-info {
  padding-bottom: 30px;
  font-size: 12px;
  font-style: italic;
}

.article-show-date, .article-show-author {
  padding-right: 20px;
}


.article-show-text, .article-show-picture {
  width: 100%;
  line-height: 150%;
}

.article-show-text {
  word-wrap: break-word;
}

.article-show-picture {
  text-align: center;
  
  img {
    max-width: 100%;
  }
}
