@import "compass";


$OPACITY_FOR_RECOMMEND_ARTICLE: 0.5;


@media (min-width: 1050px) {
  #article-show-content {
    float: left;
    max-width: 700px;
    width: 700px;
    padding: 10px 50px;
  }
  
  
  #article-show-recommend-regular {
    display: none;
  }
  
  
  .article-show-title,
  .article-show-info,
  .article-show-text {
    padding: 0;
  }
}


@media (max-width: 1049px) {
  #article-show-recommend-cascade {
    display: none;
    width: 0;
  }
  
  .article-show-title,
  .article-show-info,
  .article-show-text {
    padding: 0 2%;
  }
}


#article-show-recommend-cascade {
  float: left;
  width: 250px;
  margin-left: 40px;
}


.article-show-recommend-cascade-item {
  @include opacity($OPACITY_FOR_RECOMMEND_ARTICLE);
  text-align: center;
  
  &:hover {
    @include opacity(1.0);
  }
}


#article-show-recommend-regular {
  width: 100%;
  padding: 50px 2%;
}


#article-show-recommend-header {
  color: white;
  font-style: italic;
  @include opacity($OPACITY_FOR_RECOMMEND_ARTICLE);
}


.article-show-recommend-regular-item {
  padding: 0 5px;
  @include opacity($OPACITY_FOR_RECOMMEND_ARTICLE);
  text-align: center;
  
  &:hover {
    @include opacity(1.0);
  }
}


.article-show-recommend-regular-pic-link {
  display: block;
  position: relative;
  width: 100%; 
  padding-top: 75%;
}


.article-show-recommend-regular-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}