<a href="#articles/new" id="new_article">New Article</a><br />
<br />

<div id="cascade_container" style="position: relative;"></div>

<div>
  <br />
  <input id="click_to_load" type="button" value="click to load" />
</div>
