<div id="article-cover-cascade-option">
  <br>
  <div class="row"> 
  <div class="sort-filter"> 
    <label> Sort by </label>
    <select id='sort-type'> 
      <option id="time" value="<%= GlobalConstant.Article.SortBy.PUBLISH_TIME_DESC %>"> most recent </option>
      <option id="like" value="<%= GlobalConstant.Article.SortBy.LOVE_DESC %>"> most liked </option>
      <option id="view" value="<%= GlobalConstant.Article.SortBy.VIEW_DESC %>"> most viewed </option>
    </select>
  </div>
  </div>
</div>