<div id="article-cover-cascade-option">
  <br>
  <div class="row">
    <div class="col-xs-4 padding-s-lr"><button class="m-sort-by" data-sort-by="<%= GlobalConstant.Article.SortBy.PUBLISH_TIME_DESC %>">Newest</button></div>
    <div class="col-xs-4 padding-s-lr"><button class="m-sort-by" data-sort-by="<%= GlobalConstant.Article.SortBy.LOVE_DESC %>">Favorite</button></div>
    <div class="col-xs-4 padding-s-lr"><button class="m-sort-by" data-sort-by="<%= GlobalConstant.Article.SortBy.VIEW_DESC %>">Most Viewed</button></div>
  </div>
</div>