<div id="article-cover-cascade-option" class="row">
  <div class="col-xs-6">
    <button id="m-cascade-compact-mode" data-display-mode="compact">Fit to Screen Mode</button>
  </div>
  <div class="col-xs-6">
    <button id="m-cascade-normal-mode" data-display-mode="normal">Normal Mode</button>
  </div>
</div>