$TEMPLATE_CONTAINER_MAX_WIDTH: 800px;

$TEMPLATE_CONTAINER_MARGIN_TOP: 10px;
$TEMPLATE_CONTAINER_MARGIN_BOTTOM: 10px;
$TEMPLATE_CONTAINER_MARGIN_LEFT: auto;
$TEMPLATE_CONTAINER_MARGIN_RIGHT: auto;