@import "compass";
@import "html/setting";


.one-central-column-container {
  width: 100%;
  margin: 10px auto 20px auto;
 
  
  .central-column {
    width: 100%;
    padding: 15px 30px;
    margin: 0 auto;
  }
  
  
  .row {
    padding: ($FONT_SIZE / 7) 0;
    line-height: 110%;
  }
  
  
  .empty-row {
    padding: $FONT_SIZE 0;
  }
}