@import "html/setting";


.one-central-column-container {
  width: 100%;
  max-width: 1000px;
  
  margin: 0 auto;
 
  
  .central-column {
    width: 100%;
    max-width: 600px;
    
    padding: 0 30px;
    margin: 0 auto;
  }
  
  
  .row {
    padding: ($FONT_SIZE / 7) 0;
    line-height: 110%;
  }
  
  
  .empty-row {
    padding: $FONT_SIZE 0;
  }
}