@import "compass";


a.haigy-logo {
  display: inline-block;
  max-width: 80px;
  
  line-height: 100%;
  vertical-align: middle;
  
  @include link-colors(#5e5e5e, red, red, #5e5e5e);
  text-decoration: none;
  outline: 0;
  
  font: italic normal 800 25px arial, sans-serif;
}
