<div id="user-modify-container">
  <div class="one-central-column-container">
    <div class="central-column">
      <h1 class="row">Edit <i><%= nickname %>'s</i> Password</h1>
      
      <div class="empty-row"></div>
      
      <h3 class="row">Verify Your Identity</h3>
      <div class="row"><small>Please Type Your Password</small></div>
      <div class="row"><input id="user-edit-verify-password" type="password"></div>
      <div id="user-edit-verify-password-error" class="hide"><small>Password is incorrect.</small></div>
      
      <div class="empty-row"></div>
      <div class="empty-row"></div>
      
      <h3 class="row">New Password</h3>
      <div class="row"><input id="user-edit-password" type="password"></div>
      <div id="user-edit-password-error" class="hide"><small>The password should be made by at least 6 and at most 50 characters.</small></div>
      
      <div class="empty-row"></div>
      
      <h3 class="row">Repeat New Password</h3>
      <div class="row"><input id="user-edit-repeat-password" type="password"></div>
      <div id="user-edit-repeat-password-error" class="hide"><small>The passwords input twice are not the same, or the password is invalid.</small></div>

      <div class="empty-row"></div>
      <div class="empty-row"></div>
      
      <div class="row">
        <span class="inline-block col-xs-12 col-sm-8 padding-s-lr"><input id="user-edit-save" class="button button-primary" type="button" value="Save"></span>
        <span class="inline-block col-xs-12 col-sm-4 padding-s-lr"><input id="user-edit-cancel" class="button button-default" type="button" value="Cancel"></span>
      </div>
      <div id="user-edit-save-error" class="hide"><small>You may type an incorrect password, or still have some invalid input above.</small></div>
      
      <div class="empty-row"></div>
    </div>
  </div>
</div>