<div id="user_new_container" class="one-central-column-container">
  <div class="central-column">
    <h1 class="row">Join Haigy today.</h1>
    
    <div class="empty-row"></div>
    
    <h3 class="row">Email</h3>
    <div class="row"><input id="new_user_email_input" class="textfield" type="text"></div>
    
    <div class="empty-row"></div>
    
    <h3 class="row">Password</h3>
    <div class="row"><input id="new_user_password_input" class="textfield" type="password"></div>
    
    <div class="empty-row"></div>
    
    <h3 class="row">Repeat Password</h3>
    <div class="row"><input id="new_user_repeat_password_input" class="textfield" type="password"></div>
    
    <div class="empty-row"></div>
    
    <h3 class="row">Nickname</h3>
    <div class="row"><input id="new_user_nickname_input" class="textfield" type="text"></div>
    
    <div class="empty-row"></div>
    
    <h3 class="row">Avatar</h3>
    <div class="row"><input id="new_user_avatar_input" class="textfield" type="file"></div>
    
    <div class="empty-row"></div>
    <div class="empty-row"></div>
    
    <div class="row">
      <span class="block col-8 button-wrapper"><input id="new_user_save_button" class="button button-primary" type="button" value="Submit"></span>
      <span class="block col-4 button-wrapper"><input id="new_user_cancel_button" class="button button-default" type="button" value="Cancel"></span>
    </div>
    
    <div class="empty-row"></div>
  </div>
</div>