<div id="user_new_container" class="one-central-column-container">
  <div class="central-column">
    <h1>Join Haigy today.</h1>
    
    <h3>Email</h3>
    <div><input id="new_user_email_input" class="textfield" type="text"></div>
    
    <h3>Password</h3>
    <div><input id="new_user_password_input" class="textfield" type="password"></div>
    
    <h3>Repeat Password</h3>
    <div><input id="new_user_repeat_password_input" class="textfield" type="password"></div>
    
    <h3>Nickname</h3>
    <div><input id="new_user_nickname_input" class="textfield" type="text"></div>
    
    <h3>Avatar</h3>
    <div><input id="new_user_avatar_input" type="file"></div>
    
    <div></div>
    
    <div>
      <span class="block col-6 button-wrapper"><button id="new_user_save_button" class="button-primary">Submit</button></span>
      <span class="block col-6 button-wrapper"><button id="new_user_cancel_button">Cancel</button></span>
    </div>
  </div>
</div>