<div id="user-new-container">
  <div class="one-central-column-container">
    <div class="central-column">
      <h1 class="row">Join Haigy today.</h1>
      
      <div class="empty-row"></div>
      
      <h3 class="row">Email</h3>
      <div class="row"><input id="user-new-email" type="email"></div>
      
      <div class="empty-row"></div>
      
      <h3 class="row">Password</h3>
      <div class="row"><input id="user-new-password" type="password"></div>
      
      <div class="empty-row"></div>
      
      <h3 class="row">Repeat Password</h3>
      <div class="row"><input id="user-new-repeat-password" type="password"></div>
      
      <div class="empty-row"></div>
      
      <h3 class="row">Nickname</h3>
      <div class="row"><input id="user-new-nickname" type="textfield"></div>
      
      <div class="empty-row"></div>
      
      <h3 class="row">Avatar</h3>
      <div class="row"><input id="user-new-avatar" type="file"></div>
      
      <div class="empty-row"></div>
      <div class="empty-row"></div>
      
      <div class="row">
        <span class="inline-block col-8 padding-s-lr"><input id="user-new-save" class="button button-primary" type="button" value="Submit"></span>
        <span class="inline-block col-4 padding-s-lr"><input id="user-new-cancel" class="button button-default" type="button" value="Cancel"></span>
      </div>
      
      <div class="empty-row"></div>
    </div>
  </div>
</div>