<div id="user-modify-container">
  <div class="one-central-column-container">
    <div class="central-column">
      
    <h1 class="row">Retrieve Password</h1>
    <div class="empty-row"></div>
    
    <div id="user-retrieve-form" class="max-width">
      <h3 class="row">Your Registered Email</h3>
      <div class="row"><input id="user-retrieve-email" type="email"></div>
      <div id="user-retrieve-email-error" class="hide"><small>The format of the input email is not correct.</small></div>
      
      <div class="empty-row"></div>
      <div class="empty-row"></div>
      
      <div class="row">
        <span class="inline-block col-xs-12 col-sm-8 padding-s-lr"><input id="user-retrieve-submit" class="button button-primary" type="button" value="Get Temporary Password"></span>
        <span class="inline-block col-xs-12 col-sm-4 padding-s-lr"><input id="user-retrieve-cancel" class="button button-default" type="button" value="Cancel"></span>
      </div>
      <div id="user-retrieve-submit-input-error" class="hide"><small>The format of the email address you input is invalid.</small></div>
      <div id="user-retrieve-submit-no-email-error" class="hide"><small>Sorry, we cannot find your email address.</small></div>
    </div>
      
    <div id="user-retrieve-callback" class="max-width hide">
      <div class="row">
        <p>A temporary password has been sent to your email address.</p>
        <p>Please follow the instruction in it to reset your password.</p>
        <p>Thanks!</p>
        <br>
        <p>If you by chance haven't received any email from us, please click the button below to get a new one.</p>
      </div>
      <div class="empty-row"></div>
      
      <div class="row"><button id="m-resend-email">Resend</button></div>   
      <div class="empty-row"></div>
      
      <div class="row"><p id="m-resend-status"></p></div>
    </div>
      
    </div>
  </div>
</div>