<div class="row">
  <input id="user-sign-in-email" type="email" value="<%= email %>" placeholder="Email">
</div>
<div class="row">
  <input id="user-sign-in-password" type="password" placeholder="Password">
  <small class="block max-width text-align-center m-close-popup"><em><a href="#/users/retrieve/password">Forget Password?</a></em></small>
</div>
<div class="row">
  <input id="user-sign-in-submit" class="button button-primary" type="button" value="Sign In">
</div>
<div class="row"></div>
<h2 class="row text-align-center">
  <em><a class="m-close-popup" href="#/users/new">Or, join Haigy today!</a></em>
</h2>