<h3>New User</h3>
<div>
  Email: <input id="new_user_email_input" type="text" /><br />
  Password: <input id="new_user_password_input" type="password" /><br />
  Repeat Password: <input id="new_user_repeat_password_input" type="password" /><br />
  Nickname: <input id="new_user_nickname_input" type="text" /><br />
  Avatar: <input id="new_user_avatar_input" type="file" /><br />
  <input id="new_user_save_button" type="button" value="submit" />
  <input id="new_user_cancel_button" type="button" value="cancel" />
</div>