@import "compass";


#user-new-container {
  .one-central-column-container {
    max-width: 1000px;
    
    .central-column {
      max-width: 600px;
    }
  }
  
  
  .hide {
    padding: 3px;
    font-style: italic;
    color: red;
  }
}
