@import "compass";


#user_new_container {
  input, h1, h3, div {
    width: 100%;
    line-height: 120%;
  }
  
  h3 {
    padding-bottom: 3px;
  }
  
  h1, div {
    padding-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  
  .button-wrapper {
    padding-left: 6px;
    padding-right: 6px;
  }
}