@import "compass";


#user-show-container {
  height: 100%;

  .one-central-column-container {
    height: 100%;
    
    .central-column {
      height: 100%;
      background-color: #f0f0f0;
    }
  }
}


#user-show-header {
  padding: 20px 5px 20px 5px;
  border-bottom: solid 2px grey;
  
  
  .left, .right {
    height: 49px;
  }
}


#user-show-nickname {
  line-height: 49px;
  margin: 0 auto;
  text-align: right;
  
  font-style: italic;
}


.user-show-option-group {
  width: 100%;
  margin-top: 35px;
}


.user-show-option {
  display: block;
  width: 100%;
  line-height: 20px;
  padding: 6px 20px;
  background-color: #fff;
  border-bottom: solid 3px #e3e3e5;
  border-right: solid 2px #e3e3e5;
  
  @include transition-timing-function(ease-in-out);
  @include transition(200ms);
  
  &:hover, &:active {
    @include transform(translateX(20px));
    background-color: #f8f8f8;
  }
}
