#user-show-container {
  height: 100%;

  .one-central-column-container {
    height: 100%;
    
    .central-column {
      height: 100%;
      background-color: #e3e3e5;
    }
  }
}


#user-show-header {
  padding: 20px 5px 20px 5px;
  border-bottom: solid 2px grey;
  
  
  .left, .right {
    height: 49px;
  }
}


#user-show-nickname {
  line-height: 49px;
  margin: 0 auto;
  text-align: right;
  
  font-style: italic;
}


.user-show-option-group {
  margin-top: 35px;
}


.user-show-option {
  line-height: 20px;
  padding: 6px 20px;
  background-color: #fff;
  border-bottom: solid 3px #e3e3e5;
}
